* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya", serif;
}

body {
  background-color: rgb(172, 231, 249);
  margin: 0;
}

.bar {
  margin-bottom: 10px;
  height: 160px;
  color: black;
  background-color: white;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.global {
  min-height: calc(100vh - 90px);
  padding: 24px 48px 48px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: white;
  color: rgb(204, 153, 51);
  align-content: center;
  margin-top: 10px;
}
